{% extends 'base.html.twig' %}

{% block title %}Hello TopicController!{% endblock %}
{% block contenu %}

<table>
    <thead>
        <tr>
            <th>TITRE</th>
            <th>CATEGORIE</th>
            <th>NBRE DE REPONSE</th>
            <th>UTILISATEUR</th>
            <th>DATE DE CREATION</th>
        </tr>
    </thead>

<tbody> 
    {% for topic in topics %}

        <tr>
            <td>
                <a href="{{ path('topic_show', {'id':topic.id }) }}">{{ topic.titre }}</a>
            </td>
            <td>
                {{ topic.categorie.categorieNom }}
            </td>
            <td>{{ topic.posts | length }}</td>
            <td>{{ topic.user.username }}</td>
            <td>{{ topic.creationDate | date('d/m/Y') }}</td>
            <td><a href="{{ path('topic_delete', {'id':topic.id}) }}">Supprimer</a></td>
        </tr>

    {% endfor %}
    <tbody>
</table>
{% endblock %}

